<h1> MOVIE </h1>

<h2>title: <%= @movie.title%></h2>
<h2>year: <%= @movie.year%></h2>
<h2>plot: <%= @movie.plot%></h2>
<h2>director: <%= @movie.director%></h2>

<p> This movie is amazing PLEASE WATCH IT </p>
